body {
  font-family: "Poppins", sans-serif;
  background-color: #b7dafb;
  color: #333;
  overflow-x: hidden; /* Mencegah geser ke samping di HP */
  scroll-behavior: smooth;
}

section h3 {
  font-weight: bold;
}

.navbar {
  transition: 0.4s;
  padding: 15px 0;
}

.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #225aff !important; /* menjadi hijau*/
  font-weight: 700;
  transform: translateY(-2px);
}
/* Override warna biru bootstrap jadi biru tua*/
.bg-primary {
  background-color: #253480 !important;
}

.navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
}

/* JUMBOTRON */
section:nth-of-type(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("IdiaShroud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 150px;
  padding-bottom: 120px;
  text-align: center;
}

/* Foto Profil */
img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 4px solid rgba(74, 84, 195, 0.9);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

/* Judul Nama */
h2 {
  font-weight: 700;
  font-size: 3rem; /* Besar di laptop */
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Text Profesi */
.text-muted {
  color: #f1f1f1 !important;
  font-weight: 500;
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  opacity: 1 !important;
}

/* JUDUL SECTION */
h3 {
  color: #352bff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

p {
  text-align: center;
}

/* Garis bawah judul */
h3::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: #352bff;
  margin: 10px auto 0;
  border-radius: 2px;
}

.card-img-top {
  width: 90%;
  height: 150px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-left: 6px solid #125dcd;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  background: #d6e9ff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 700;
  color: #0f2851;
}

/* TOMBOL & FORM */
.btn-primary {
  background-color: #416eb1;
  border-radius: 50px;
  padding: 10px 0;
  width: 100%;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #416eb1;
  box-shadow: 0 5px 15px rgba(25, 85, 135, 0.4);
}

@media (max-width: 770px) {
  /* Navbar */
  .navbar-collapse {
    background-color: #2b5cc6;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
  }

  /* Jumbotron */
  section:nth-of-type(1) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  h2 {
    font-size: 2rem;
  }

  img {
    width: 120px;
    height: 120px;
  }

  /* Project */
  .col-md-4 {
    margin-bottom: 20px;
  }

  /* Tombol Send di Contact */
  form button {
    width: 100%;
  }
}

